html {
  background-color: #ffffff;
}


body {
  width: 750px;
  max-width: 90%;
  margin: 0 auto;
  padding: 1em;


  font-family: 'Lora', serif;
  font-weight: normal;
  font-style: normal;
}

body, pre, pre code {
  font-size: 18px;
}

a, a:hover {
  color: #333;
}

h1 {
  border-bottom-width: 10px;
  color: rgb(100, 5, 14);
}

h2 {
  border-bottom-width: 5px;
}

img, {
  width: 300;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto }
}
