html {
  background-color: rgb(255, 254, 253);
}


body {
  width: 750px;
  max-width: 90%;
  margin: 0 auto;
  padding: 1em;


  font-family: 'Lora', serif;
  font-weight: normal;
  font-style: normal;
}

body, pre, pre code {
  font-size: 18px;
}

a, a:hover {
  color: #333;
}

h1 {
  border-bottom-width: 10px;
  color: rgb(100, 5, 14);
}

h2 {
  border-bottom-width: 5px;
}

#Tombe-Phileros {
  width: 250px;
  height: auto;
  float: right; 
}

#Standbeelden-Phileros {
  width: 250;
  height: auto;
  float: right;
}

#Achterkant-tombe-Phileros {
  width: 250;
  height: auto;
  float: right;
}

#Vesuvius {
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clearfix (clear floats) *//
.row::after {
  content: "";
  clear: both;
  display: table;
}

.colum {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clearfix (clear floats) *//
.rij::after {
  content: "";
  clear: both;
  display: table;
}

.topnav {
  background-color: rgb(100, 5, 14);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ddd;
  color: black;
}

